body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.state-message {
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}

.App {
  width: 800px;
  display: flex;
  margin: 0 auto;
  height: 80vh;

  margin-top: 10vh;
}

.sidebar {
  width: 750px;
}

.chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 83% 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    ".";
  width: 100%;
  overflow: scroll;
  border: 1px solid black;
}

.chat__actions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.chat__input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

textarea {
  width: 100%;
}
